body {
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.r-txt {
  color: #f72210;
}

.r-txt:hover {
  text-decoration: none;
  color: #f72210;
}

.w-txt {
  background-color: #f72210;
  color: white;
}

.w-txt:hover {
  text-decoration: none;
  color: white;
}

.wrap {
  position: relative;
  margin-bottom: 10px;
}

.link {
  color: black;
  text-decoration: none;
}

.link--red:hover{
  color: #f72210;
  text-decoration: none;
}

.link--underline:hover {
  color: black;
  text-decoration: underline;
  text-decoration-color: #f72210;
}

.header {
  font-weight: bold;
}

.header__top {
  line-height: 26px;
  padding: 13px;
  height: 53px;
  color: white;
}

.logo {
  object-fit: cover;
}

.logo--small {
  width: 132px;
  height: 20px;
}

.logo--big {
  display: none;
}

.header__weather {
  font-size: 15px;
  margin-left: 20px;
}

.header__weather:hover {
  text-decoration: none;
  color: white;
}

.header__weather img {
  width: 24px;
}

.header__weather__location {
  display: none;
}

.header__left {
  width: auto;
}

.header__date {
  display: none;
}

.header__right *{
  display: inline-block;
  height: 100%;
}

.header__right a {
  font-size: 14px;
  padding: 0 3px;
}

.subscribe {
  background-color: white;
}

.subscribe span {
  display: none;
}

.header__nav {
  display: none;
}

.top-story--2 {
  display: none;
}

.opinion--2 {
  display: none;
}

.the-debate--2 {
  display: none;
}

.news-section__header {
  color: rgba(3,3,3,0.4);
  font-size: 16px;
  padding-top: 15px;
  font-weight: bold;
}

.news__article {
  padding-bottom: 20px;
}

.news__article__category {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px 15px 9px;
  background-color: rgba(255,255,255,0.9);
}

.news__article__header {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.news__article__header--big {
  font-size: 22px;
  font-weight: bold;
}

.news__article__description {
  font-size: 13px;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.news__article__related {
  margin: 0;
  padding: 10px 0;
  font-size: 17px;
  font-weight: bold;
  border-top: 1px solid #d9d9d9;
}

.section__break {
  height: 18px;
  background-color: #f4f5f7;
  border-top: 1px solid #e2e2e2;
}

.opinion-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.opinion-list__item {
  display: flex;
  padding: 10px 0;
}

.opinion-list__item:not(:first-child) {
  border-top: 1px solid #ddd;
}

.opinion-list__headshot {
  margin-right: 15px;
}

.opinion-list__author {
  margin-top: 4px;
  margin-bottom: 0;
  color: #555;
}

.debate--1 {
  border-top: 4px solid #f92859;
}

.debate--2 {
  border-top: 4px solid #1c87fb;
}

.debate__head {
  display: flex;
}

.debate__head a {
  width: calc(100% - 95px);
}

.debate__head__img {
  width: 95px;
  height: 95px;
  margin-right: 15px;
}

.debate__link {
  font-weight: bold;
}

.debate__link:hover {
  color: black;
  text-decoration: none;
}

.debate__author__headshot {
  width: 63px;
  height: 63px;
  right: 0;
  z-index: 3;
}

.debate__author {
  height: 63px;
}

.debate__author::before {
  content: " ";
  display: block;
  position: absolute;
  height: 1px;
  top: 12px;
  left: 0;
  right: 0;
  background-color: #d9d9d9;
}

.debate__author::after {
  content: " ";
  display: block;
  position: absolute;
  height: 1px;
  top: 15px;
  left: 0;
  right: 0;
  background-color: #d9d9d9;
}

.debate__author p {
  font-size: 14px;
  color: #555;
  margin-top: 4px;
  margin-bottom: 0;
}

.debate__author span {
  font-weight: bold;
  color: black;
}

.debate__vs span{
  height: 40px;
  width: 40px;
  margin: 14px auto 18px;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  color: white;
  background-color: black;
}

/**************************************************************************
************                FIRST BREAK            *************
**************************************************************************/

@media screen and (min-width: 481px) {
  .header__right a {
    padding: 0 10px;
    font-size: 18px;
  }
  
  .subscribe span {
    display: inline-block;
    margin-left: 10px;
    font-weight: 300;
  }

}

/**************************************************************************
************                SECOND BREAK            *************
**************************************************************************/

@media screen and (min-width: 768px) {
  .header__weather__location {
    display: inline-block;
  }

  .section__break {
    display: none;
  }

  .top-story--1 {
    display: none;
  }

  .opinion--1 {
    display: none;
  }

  .opinion--2 {
    display: inline-block;
  }

  .the-debate--1 {
    display: none;
  }
  
  .the-debate--2 {
    display: inline-block;
  }

  .top-story--2 {
    display: inline-block;
  }
}

/**************************************************************************
************                THIRD BREAK            *************
**************************************************************************/

@media screen and (min-width: 992px) {
    
  .container-fluid {
    max-width: 1310px;
  }

  .header__top {
    height: 90px;
  }

  .logo--small {
    display: none;
  }

  .header__left {
    padding-left: 15px;
    margin-left: 10px;
  }

  .header__weather {
    margin-left: 0;
  }

  .header__date {
    display: inline-block;
    font-weight: 300;
  }

  .header__center {
    position: absolute;
    left: calc(50vw - 198px);
  }

  .header__right {
    align-self: flex-end;
  }
  
  .logo--big {
    display: inline-block;
    width: 396px;
    height: 60px;
  }

  .header__right__menu {
    display: none;
  }

  .header__nav {
    display: block;
    width: auto;
    position: relative;
    font-size: 19px;
    padding: 15px 0;
  }

  .header__nav__bg {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 78px;
    background-color: #f72210;
    border-left: 12px solid white;
    border-top: 13px solid #f72210;
  }

  .header__nav a {
    display: inline-block;
    padding: 0 calc((100% - 912px) / 24);
    border-left: 1px solid lightgray;
  }

  .header__nav form {
    display: inline;
  }

  .search label {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 78px;
  }

  .search-box {
    width: 63px;
    height: 54px;
    margin: -15px -15px -15px 0;
    color: rgba(0,0,0,.55);
    font-size: 16px;
    padding: 0;
    border: 0;
    outline: none;
    position: absolute;
    right: 105px;
    transition: all 0.3s ease;
  }

  .search-box:focus {
    width: calc(100% - 105px);
    transition: all 0.3s ease;
  }

  .news-section > .col-lg-7 {
    flex: 0 0 71%;
    max-width: 71%;
  }

  .news-section > .col-lg-5 {
    flex: 0 0 29%;
    max-width: 29%;
  }
}
